@media(max-width:1680px){

.homeaboutblock5_wrapper .homeblock5_left .homeblock5_lefttextcon {

    padding: 0px 80px;}

    .homebannerblock1 h2{ padding-top: 80px;}


    .homeaboutblock3 .homeblock3_left{padding-left: 70px;}


}





@media(max-width:1660px){

    .homeaboutblock5_wrapper .homeblock5_left .homeblock5_lefttextcon {

        padding: 0px 60px;}



}



@media(max-width:1600px){


    .mediaarticlesblockcontain .container .mediaarticlesblockright2{  height: 498px;}

    .homebannerblock1 h2{ padding-top: 50px;}

    .mediaarticlesblockcontain .container .mediaarticlesblockright{ height: 531px;}

.homeaboutblock3  .homeblock3_left{ padding: 0px 50px 0 50px;}



    .mediaarticlesblockcontain .container{ width: 1440px; float: right;}



    .mediaarticlesblockcontain .container .mediaarticlesblockleft{ width:782px; float: left;}





    .mapostblock .mapost_text{ width: 500px;}


 }

@media(max-width:1540px){

}


@media(max-width:1480px){

.homebannerblock1 h2 {
    padding-top: 22px;
}
}

@media(max-width:1450px){



    .menublock{ width: 1175px; margin: 0 auto; }

    .menublock .navbar ul li a{ margin: 0; padding: 0 6px;  font-size: 14px;  }

    .hometoplogo{ left: 360px;}

    .menublock .navbar ul li {
        line-height: inherit;
        margin: 0;
        padding: 43px 0 47px 0;
    }
    .areaofexpertise1bannerblock1img img {
        width: 120% !important;
        margin-left: -100px;
    }

    .staffbanner1wrapperblockimg img {
        width: 120% !important;
        margin-left: -100px;
    }
    .testimonialbanner1wrapperimg img {
        width: 120% !important;
        margin-left: -100px;
    }
    .mediaarticles1wrapperblockimg img {
        width: 120% !important;
        margin-left: -100px;
    }
    .probonobanner1wrapperblockimg img {
        width: 120% !important;
        margin-left: -100px;
    }
    .imagegallerybanner1wrapperblockimg img{
        width: 120% !important;
        margin-left: -100px;
    }
    .contactbanner1wrapperblockimg img{
        width: 120% !important;
        margin-left: -100px;
    }
}






@media(max-width:1380px){

    .homebannerblock1 h2 {
        padding-top: 40px;
    }

    .homeaboutblock3  .homeblock3_left span{ font-size: 26px;}

    .homeaboutblock5_wrapper .homeblock5_left .homeblock5_lefttextcon {

        padding: 0px 40px;}



    .mediaarticlesblockcontain .container{ width: 1202px; float: right;}



    .mediaarticlesblockcontain .container .mediaarticlesblockleft{ width:740px; float: left;}





    .mapostblock .mapost_text{ width: 540px;}



    .mediaarticlesblockcontain .container .mediaarticlesblockright{ width: 440px; height: 528px; }



    .mediaarticlesblockright_text{ width:340px; margin: 20px auto; }



    .masearchbox{ width: 274px;}



    .mediaarticlesblockcontain .container .mediaarticlesblockright2{ width: 440px; float: right; height: 475px;}
    .areaofexpertise1bannerblock1img img {
        width: 115% !important;
    }
    .staffbanner1wrapperblockimg img {
        width: 115% !important;
        margin-left: -100px;
    }
    .testimonialbanner1wrapperimg img {
        width: 115% !important;
        margin-left: -100px;
    }
    .mediaarticles1wrapperblockimg img {
        width: 115% !important;
        margin-left: -100px;
    }
    .probonobanner1wrapperblockimg img {
        width: 115% !important;
        margin-left: -100px;
    }
    .imagegallerybanner1wrapperblockimg img{
        width: 115% !important;
        margin-left: -100px;
    }

    .contactbanner1wrapperblockimg img{
        width: 115% !important;
        margin-left: -100px;
    }

}










@media(max-width:1366px){

    .homebannerblock h2{ font-size: 90px;}
    .homebannerblock1 h2{ font-size: 70px;}

}

@media(max-width:1360px){

    .homeaboutblock5_wrapper .homeblock5_left .homeblock5_lefttextcon {

        padding: 0px 40px;}




    .homeaboutblock3  .homeblock3_left{ padding:0 40px;}

    .areaofexpertise1bannerblock1img img {
        width: 120% !important;
        margin-left: -100px;
    }
    .staffbanner1wrapperblockimg img {
        width: 120% !important;
        margin-left: -100px;
    }

    .testimonialbanner1wrapperimg img {
        width: 120% !important;
        margin-left: -100px;
    }
    .mediaarticles1wrapperblockimg img {
        width: 120% !important;
        margin-left: -100px;
    }
    .probonobanner1wrapperblockimg img {
        width: 120% !important;
        margin-left: -100px;
    }

    .imagegallerybanner1wrapperblockimg img{
        width: 120% !important;
        margin-left: -100px;
    }
    .contactbanner1wrapperblockimg img{
        width: 120% !important;
        margin-left: -100px;
    }
}

@media(max-width:1300px){
    .areaofexpertise1bannerblock1img img {
        width: 120% !important;
        margin-left: -100px;
    }

    .staffbanner1wrapperblockimg img {
        width: 120% !important;
        margin-left: -100px;
    }
    .testimonialbanner1wrapperimg img {
        width: 120% !important;
        margin-left: -100px;
    }
    .mediaarticles1wrapperblockimg img {
        width: 120% !important;
        margin-left: -100px;
    }
    .probonobanner1wrapperblockimg img {
        width: 128% !important;
        margin-left: -100px;
    }
    .imagegallerybanner1wrapperblockimg img{
        width: 128% !important;
        margin-left: -100px;
    }
    .contactbanner1wrapperblockimg img{
        width: 128% !important;
        margin-left: -100px;
    }
}



@media(max-width:1280px){
    .homeaboutblock3  .homeblock3_left{ padding: 2px;}
    .homeaboutblock5_wrapper .homeblock5_left .homeblock5_lefttextcon {

        padding: 0px 40px;}
    .homebannerblock1 h2{ font-size: 50px;}
    .areaofexpertise1bannerblock1img img {
        display: block;
        width: 128% !important;
    }
    .staffbanner1wrapperblockimg img {
        width: 128% !important;
        margin-left: -100px;
    }
    .testimonialbanner1wrapperimg img {
        width: 128% !important;
        margin-left: -100px;
    }
    .mediaarticles1wrapperblockimg img {
        width: 128% !important;
        margin-left: -100px;
    }
    .probonobanner1wrapperblockimg img {
        width: 128% !important;
        margin-left: -100px;
    }
    .imagegallerybanner1wrapperblockimg img{
        width: 128% !important;
        margin-left: -100px;
    }
    .contactbanner1wrapperblockimg img{
        width: 128% !important;
        margin-left: -100px;
    }
}





@media(max-width:1199px){

    .testimonialcontainer .testimonial_row .testimonial_con {

        width: 80%;
    }

    .homeaboutblock3  .homeblock3_left span{ font-size:30px;}



    .mediaarticlesblockcontain .container{ width: 98%; float: none;}



    .mediaarticlesblockcontain .container .mediaarticlesblockleft{ width:100%; float: none; text-align: center;}




    .mapostblock .mapost_text{ width: 100%; float: none;}



    .mediaarticlesblockcontain .container .mediaarticlesblockright{ width: 629px; float: none; margin: 0 auto; margin-bottom: 45px;  height: auto;  background: url("../images/ma_bg2.jpg") no-repeat center top; background-size: cover; overflow:hidden; }


    .mediaarticlesblockcontain .container .mediaarticlesblockright2{ width: 629px; float: none; margin: 0 auto; margin-bottom: 45px;  height: auto;  background: url("../images/ma_bg2.jpg") no-repeat center top; background-size: cover; overflow:hidden; }


    .mediaarticlesblockright_text{ width: 510px;  background: url("../images/ma_bg3.png"); margin: 30px auto; padding: 30px;}



    .masearchbox{ width: 445px; height: 34px; background: #182953; border: solid 1px #04b5ca; padding: 0 16px; font-size: 14px; color: #fff; font-style: italic; font-family:'Century-Regular'; float: left;}



    .mapostblock .mapost_link {

        float: none;

        margin-top: 30px;

        text-align: center; width: 100%;

    }



    .mapostblock .mapost_link .fullread {

        background: #000 none repeat scroll 0 0;

        color: #fff;

        display: inline-block;

        float: none;

        font-family: "OpenSans-Regular";

        height: 32px;

        line-height: 32px;

        margin-left: 10px;

        margin-top: 0;

        text-align: center;

        width: 110px;

    }







    .contaclinkright{ display: none;}



    .homebottomblock{ border-bottom: solid 2px #000; width: 98%; margin-left: auto; margin-right: auto;  margin-top: 45px; }



    .homebottomblock .viewmorelink{ float: none; display: block; margin: 0 auto;}

    .homeaboutblock6 .our_partners_div{ width: 96%;  float: none!important; margin: 0px auto!important; margin-top: 45px!important;    }



    .homeaboutblock6 .our_partners_divright  {float: none!important;}



    .homeaboutblock6 h2{padding: 45px 0 0px 0!important;}



    .homeaboutblock6 .our_partners_div h3{ height: auto; overflow: inherit;}



    .homeaboutblock5_wrapper .homeblock5_left{ width: 100%; float: none; text-align: center;}

    .homeaboutblock5_wrapper .homeblock5_left .homeblock5_lefttextcon{ padding:50px 5%;}

    .homeaboutblock5_wrapper .homeblock5_left .homeblock5_lefttextcon h2{ padding-top: 0px;}





    .homeaboutblock5_wrapper .homeblock5_right{ width: 100%; height:auto; float: none; background-size: cover; padding: 40px 0;}

    .homeaboutblock5_wrapper .homeblock5_lefttextcon table{height:auto; text-align: center;  }



    .homeblock5_righttext{ width:90%; margin: 0 auto; padding:30px 2% 50px 2%; text-align: center; margin: 0 auto;}



    .homeblock5_righttext .homeaboutblock5_link{ margin: 30px auto; margin-bottom: 0px;}





    .homeaboutblock4 ul li:nth-child(2){ margin-bottom: 55px; margin-left: 9px;}

    .homeaboutblock4 ul li:nth-child(3){ margin-bottom: 55px; margin-left: 9px;}

    .homeaboutblock4 ul li:nth-child(5){ margin-left: 9px;}

    .homeaboutblock4 ul li:nth-child(6){ margin-left: 9px;}



    .homeaboutblock3  .homeblock3_left{ display: block; width: 100%; text-align: center; padding:45px 0px }

    .homeaboutblock3  .homeblock3_right{ display: block; width: 100%; text-align: center; padding:0px 0px; }

    .homeaboutblock3  .homeblock3_right img{ width: 100%; display: block; margin: 0 auto;}

    .homeblock3_left_text{ width: 90%; margin: 0 auto;}



}


@media(max-width:1170px){

.allpagescrolldown{ display: none;}

    .mediaarticleswrapper{ margin-top: 0px;}
	
	
	  .contactwrapper{ margin-top: 0px;}


    .testimonialwrapper{ margin-top: 0px;}


    .mainlogowrapper{ width: 100%; margin: 0 auto; position: relative;}

    .hometoplogo{ width:419px; margin: 0 auto;    position: inherit;

        z-index: 999; left:0px; top: 0; }
   .menufixed .mainlogowrapper{  padding-bottom: 20px;}

    .menufixed .menuwrapper{ position: fixed; top: 100px;}


    .menublock{ width: 100%; margin: 0 auto; }



    .menuwrapper{ position: inherit; left: 0; top: 0; width: 100%;}

    .menublock .navbar ul li:nth-child(3){ margin-right: 0px; background: none!important;}

    .menublock .navbar ul li a{ background: none!important; color: #fff; font-size: 20px;}



    .menuwrapper{ position: inherit; background: none; border-bottom: solid 4px #04b5ca;}



    .menublock .navbar ul li a:hover,.menublock .navbar ul li a.active{ color: #fff; background: #04b5ca!important;}





    .menublock .responsivemenu {



        color: #fff;

 display: inline-block;



        font-size: 22px;



        font-weight: bold;



        padding: 10px 0 0 16px; font-family:'ArnoPro-Smbd';



    }



    .menublock .navbar-header {



        display: block;



        margin: 0 auto!important;



        padding: 4px 10px 6px 10px;



        width: auto;



        float:none;



        background:#000000;



    }



    .menublock .navbar-toggle {



        display: inline-block;



        float: right;



        margin: 2px 0 0 0;



        background:#000;



    }



    .menublock .nav {



        padding: 0;



        text-align: center;



        width: 100%;



        margin-top:4px !important;



    }



    .menublock .nav a {



        border:  none !important;



        display: block;





        line-height: inherit !important;



        padding: 0 !important;



    }



    .menublock .navbar-collapse {



        margin: 0;



        padding: 0;



        border:none!important;



    }



    .menublock .navbar-nav {



        margin: 0;



        padding: 0;



    }



    .menublock .navbar-collapse.collapse {



        border:  none !important;



        display: none !important;



    }



    .menublock .navbar-nav {



        border: medium none !important;



        float: none !important;



        background:#0b0b0b;



        border:none!important;



        margin:0!important;



        padding:0!important;



    }



    .menublock .navbar-nav > li {



        float: none;



        padding:0!important;



        margin:0!important;



        border:none!important;



    }



    .menublock .navbar-nav > li a {



        padding:10px 0!important;

  border-top:solid 1px #2e2e2e!important;



    }



    .menublock .collapse.in {



        display: block !important;



    }





    .menublock .dropdown-menu {



        display: block;



        margin-top: 5px;



        padding: 0;



        position: inherit;



        top: 0;



        width: 100%;



    }



    .menublock .navbar-default {



        background:#0d0d0d;



    }





    .homebannerwrapper{ margin-top: 0px;}



    .homebannerblock h2{ padding-top: 50px; margin-top:0px;}
    .homebannerblock1 h2{ padding-top: 50px; margin-top:0px;}

    .homebannerblock{ background: url("../images/homebanner.jpg")no-repeat 40% 0; background-size:cover;  }

    .areaofexpertisebanner1wrapper {
        width: 100%;
        margin-top: 0px !important;
    }

    .staffbanner1wrapper {
        width: 100%;
        margin-top: 0px !important;
    }
    .testimonialbanner1wrapper {
        width: 100%;
        margin-top: 0px !important;
    }

    .mediaarticles1wrapper {
        width: 100%;
        margin-top: 0px !important;
    }
    .probonobanner1wrapper {
        width: 100%;
        margin-top: 0px !important;
    }
    .imagegallerybanner1wrapper {
        width: 100%;
        margin-top: 0px !important;
    }


    .contactbanner1wrapper {
        width: 100%;
        margin-top: 0px !important;
    }
    .areaofexpertise1bannerblock1img img {
        display: block;
        width: 140% !important;
        margin-left: -200px;
    }

    .staffbanner1wrapperblockimg img {
        display: block;
        width: 140% !important;
        margin-left: -200px;
    }

    .testimonialbanner1wrapperimg img {
        display: block;
        width: 140% !important;
        margin-left: -200px;
    }
    .mediaarticles1wrapperblockimg img {
        display: block;
        width: 140% !important;
        margin-left: -200px;
    }
    .probonobanner1wrapperblockimg img {
        display: block;
        width: 140% !important;
        margin-left: -200px;
    }
    .imagegallerybanner1wrapperblockimg img{
        display: block;
        width: 140% !important;
        margin-left: -200px;
    }
    .contactbanner1wrapperblockimg img{
        display: block;
        width: 140% !important;
        margin-left: -200px;
    }
    .contactbanner1wrapperblockimg img{
        display: block;
        width: 140% !important;
        margin-left: -200px;
    }
}

@media(max-width:1024px){
    .areaofexpertise1bannerblock1img img {
        display: block;
        width: 157% !important;
        margin-left: -309px;
    }
    .staffbanner1wrapperblockimg img {
        display: block;
        width: 157% !important;
        margin-left: -309px;
    }
    .testimonialbanner1wrapperimg img {
        display: block;
        width: 157% !important;
        margin-left: -309px;
    }
    .mediaarticles1wrapperblockimg img {
        display: block;
        width: 157% !important;
        margin-left: -309px;
    }
    .probonobanner1wrapperblockimg img {
        display: block;
        width: 157% !important;
        margin-left: -309px;
    }
    .imagegallerybanner1wrapperblockimg img{
        display: block;
        width: 157% !important;
        margin-left: -309px;
    }

    .contactbanner1wrapperblockimg img{
        display: block;
        width: 157% !important;
        margin-left: -309px;
    }
}

@media(max-width:991px){
    .homeaboutblock5_wrapper .homeblock5_right .homeblock5_img img{width: 100%;}
    .probononewimg{ width: 90%; display: block; margin: 0 auto;}
    .homebannerblock h2{ padding-top: 20px; margin-top:0px;}
    .homebannerblock1 h2{ padding-top: 20px; margin-top:0px;}


    .testimonialcontainer .testimonial_row .testimonial_img{ float: none; margin: 0 auto; margin-bottom: 25px; width: 100%;}
    .testimonialcontainer .testimonial_row .testimonial_img img{ width: 150px; display: block; margin: 0 auto;}
    .testimonialcontainer .testimonial_row:nth-child(2n+0) .testimonial_img{ float: none; margin: 0 auto; margin-bottom: 25px;}

    .testimonialcontainer .testimonial_row .testimonial_con{ width: 98%; float: none; text-align: center;  margin: 0 auto;}
    .testimonialcontainer .testimonial_row:nth-child(2n+0) .testimonial_con{ width: 98%; float: none; text-align: center;  margin: 0 auto;}

    .testimonialcontainer .testimonial_row .testimonial_con .testimonial_text{ background: none; padding: 0;}

    .testimonialcontainer .testimonial_row:nth-child(2n+0) .testimonial_con .testimonial_text{ background: none; padding: 0;}

    .testimonialcontainer .testimonial_row:nth-child(2n+0) h2{ text-align: center; padding: 0 10px;}

    .testimonialcontainer h2 span{  font-family: "OpenSans-Regular"; font-size: 18px; color: #7f7f7f; display: block; padding:10px 0 0 0; display: block; text-align: center; }

    .testimonialcontainer h2{ text-align: center; padding: 0 10px;}

    .contactform .contactform_left2{ width:100%; float: none; padding-top: 0%; }

    .contactform .contactform_right2{ width:100%; float: none; }

    .homeaboutblock4 ul{ width: 640px; margin: 40px auto; margin-bottom: 50px; }



    .homeaboutblock4 ul li:nth-child(1){ margin-left: 0px; margin-bottom: 55px; float: left;}

     .homeaboutblock4 ul li:nth-child(2){ margin-bottom: 55px; margin-left: 0px; float: right;}

    .homeaboutblock4 ul li:nth-child(3){ margin-bottom: 55px; margin-left: 0px;  float: left;}

    .homeaboutblock4 ul li:nth-child(4){ margin-left: 0px; margin-bottom: 55px; float: right;}

    .homeaboutblock4 ul li:nth-child(5){ margin-left: 0px;  float: left;}

    .homeaboutblock4 ul li:nth-child(6){ margin-left: 0px; float: right; }





    .homebannerblock h2{ font-size: 55px;     padding-top: 40px;}
    .homebannerblock1 h2{ font-size: 55px;      padding-top: 40px;}
	
	
	.contactform{ width:80%; margin:0 auto}
	.contactform .form-group{ width:100%; margin:0 0 12px 0; float:none;}
.contactform .form-group2{ width:100%; margin:0 0 12px 0; }


    .areaofexpertise1bannerblock1img img {
        display: block;
        width: 175% !important;
        margin-left: -140px;
    }

    .staffbanner1wrapperblockimg img {
        display: block;
        width: 175% !important;
        margin-left: -140px;
    }

    .testimonialbanner1wrapperimg img {
        display: block;
        width: 175% !important;
        margin-left: -355px;
    }
    .mediaarticles1wrapperblockimg img {
        display: block;
        width: 175% !important;
        margin-left: -335px;
    }
    .probonobanner1wrapperblockimg img {
        display: block;
        width: 175% !important;
        margin-left: -335px;
    }
    .imagegallerybanner1wrapperblockimg img{
        display: block;
        width: 175% !important;
        margin-left: -335px;
    }

    .contactbanner1wrapperblockimg img{
        display: block;
        width: 175% !important;
        margin-left: -335px;
    }

}


@media (max-width: 840px){
    .areaofexpertise1bannerblock1img img {
        display: block;
        width: 190% !important;
        margin-left: -200px;
    }

    .staffbanner1wrapperblockimg img {
        display: block;
        width: 190% !important;
        margin-left: -200px;
    }
    .testimonialbanner1wrapperimg img {
        display: block;
        width: 190% !important;
        margin-left: -398px;
    }
    .mediaarticles1wrapperblockimg img {
        display: block;
        width: 190% !important;
        margin-left: -360px;
    }
    .probonobanner1wrapperblockimg img {
        display: block;
        width: 190% !important;
        margin-left: -360px;
    }
    .imagegallerybanner1wrapperblockimg img{
        display: block;
        width: 190% !important;
        margin-left: -360px;
    }
    .contactbanner1wrapperblockimg img{
        display: block;
        width: 190% !important;
        margin-left: -360px;
    }
}



@media (max-width: 800px){
    .areaofexpertise1bannerblock1img img {
        display: block;
        width: 200% !important;
        margin-left: -210px;
    }

    .staffbanner1wrapperblockimg img {
        display: block;
        width: 200% !important;
        margin-left: -210px;
    }
    .testimonialbanner1wrapperimg img {
        display: block;
        width: 200% !important;
        margin-left: -430px;
    }
    .mediaarticles1wrapperblockimg img {
        display: block;
        width: 200% !important;
        margin-left: -360px;
    }
    .probonobanner1wrapperblockimg img {
        display: block;
        width: 200% !important;
        margin-left: -360px;
    }
    .imagegallerybanner1wrapperblockimg img{
        display: block;
        width: 200% !important;
        margin-left: -360px;
    }

    .contactbanner1wrapperblockimg img{
        display: block;
        width: 200% !important;
        margin-left: -360px;
    }


}

@media(max-width:767px){

.homebannerblock h2{ font-size: 35px;     padding-top: 40px;}
.homebannerblock1 h2{ font-size: 35px;      padding-top: 40px;}

}


@media (max-width: 740px){
    .areaofexpertise1bannerblock1img img {
        display: block;
        width: 214% !important;
        margin-left: -255px;
    }
    .areaofexpertise1bannerblock h2 {
        font-size: 55px !important;
    }

    .staffbanner1wrapperblockimg img {
        display: block;
        width: 214% !important;
        margin-left: -255px;
    }

    .staffbanner1wrapperblock h2 {
        font-size: 55px !important;
    }

    .testimonialbanner1wrapperimg img {
        display: block;
        width: 230% !important;
        margin-left: -495px;
    }
    .testimonialbanner1wrapperblock h2{
        font-size: 55px !important;
    }

    .mediaarticles1wrapperblockimg img {
        display: block;
        width: 230% !important;
        margin-left: -495px;
    }
   .mediaarticles1wrapperblock h2{
        font-size: 55px !important;
    }
    .probonobanner1wrapperblockimg img {
        display: block;
        width: 230% !important;
        margin-left: -495px;
    }
    .probonobanner1wrapperblock h2{
        font-size: 55px !important;
    }
    .imagegallerybanner1wrapperblock h2{
        font-size: 55px !important;
    }

    .imagegallerybanner1wrapperblockimg img{
        display: block;
        width: 230% !important;
        margin-left: -495px;
    }
    .contactbanner1wrapperblockimg img{
        display: block;
        width: 230% !important;
        margin-left: -425px;
    }
}


@media(max-width:700px){
    .areaofexpertise1bannerblock1img img {
        display: block;
        width: 230% !important;
        margin-left: -280px;
    }
    .staffbanner1wrapperblockimg img {
        display: block;
        width: 230% !important;
        margin-left: -280px;
    }
    .testimonialbanner1wrapperimg img {
        display: block;
        width: 230% !important;
        margin-left: -455px;
    }
    .mediaarticles1wrapperblockimg img {
        display: block;
        width: 230% !important;
        margin-left: -425px;
    }
    .probonobanner1wrapperblockimg img {
        display: block;
        width: 230% !important;
        margin-left: -425px;
    }
    .imagegallerybanner1wrapperblockimg img{
        display: block;
        width: 230% !important;
        margin-left: -425px;
    }
    .contactbanner1wrapperblockimg img{
        display: block;
        width: 230% !important;
        margin-left: -425px;
    }

}


@media(max-width:660px){

    .homebannerblock h2{ font-size: 30px;     padding-top: 30px;}
    .homebannerblock1 h2{ font-size: 30px;      padding-top: 30px;}
    .homebannerlink2{ margin: 20px auto;}

    .homebannerblock h2{ font-size: 60px;}

    .homebannerlink1{ width: 90%;}





    .homeaboutblock4 ul{ width: 100%; margin: 40px auto; margin-bottom: 50px; }



    .homeaboutblock4 ul li:nth-child(1){  float: none; margin: 0 auto; margin-bottom: 55px; }

    .homeaboutblock4 ul li:nth-child(2){float: none; margin: 0 auto; margin-bottom: 55px; }

    .homeaboutblock4 ul li:nth-child(3){ float: none; margin: 0 auto; margin-bottom: 55px; }

    .homeaboutblock4 ul li:nth-child(4){ float: none; margin: 0 auto; margin-bottom: 55px; }

    .homeaboutblock4 ul li:nth-child(5){float: none; margin: 0 auto; margin-bottom: 55px; }

    .homeaboutblock4 ul li:nth-child(6){ float: none; margin: 0 auto; margin-bottom: 0px; }



    .homeaboutblock4_link {



        margin: 0 auto;

        padding: 0 0 0 16px;

        text-align: center;

        width: 284px;

    }





    .mediaarticlesblockcontain .container .mediaarticlesblockright{ width: 100%; float: none; margin: 0 auto; margin-bottom: 45px;  height: auto;  }

    .mediaarticlesblockcontain .container .mediaarticlesblockright2{ width: 100%; float: none; margin: 0 auto; margin-bottom: 45px;  height: auto;  }





    .mediaarticlesblockright_text {

        background: rgba(0, 0, 0, 0) url("../images/ma_bg3.png") repeat scroll 0 0;

        margin: 30px auto;

        padding: 5% 5% 30px;

        width: 80%;

    }



    .masearchbox{ width: 70%; height: 34px; background: #182953; border: solid 1px #04b5ca; padding: 0 16px; font-size: 14px; color: #fff; font-style: italic; font-family:'Century-Regular'; float: left;}



    .masearchbtn{ float: left; margin-left:5px; }


    .areaofexpertise1bannerblock h2 {
        padding: 20px 5px 30px 5px !important;
        line-height: normal !important;
        font-size: 50px !important;
        top: 0px;
    }
    .staffbanner1wrapperblock h2 {
        padding: 20px 5px 30px 5px !important;
        line-height: normal !important;
        font-size: 50px !important;
    }


    .testimonialbanner1wrapperblock h2 {
        padding: 20px 5px 30px 5px !important;
        line-height: normal !important;
        font-size: 50px !important;
    }

    .mediaarticles1wrapperblock h2 {
        padding: 20px 5px 30px 5px !important;
        line-height: normal !important;
        font-size: 50px !important;
    }

    .probonobanner1wrapperblock h2 {
        padding: 20px 5px 30px 5px !important;
        line-height: normal !important;
        font-size: 50px !important;
    }

    .areaofexpertise1bannerblock1img img {
        width: 415%;
    }


    .imagegallerybanner1wrapperblock h2 {
        padding: 20px 5px 30px 5px !important;
        line-height: normal !important;
        font-size: 50px !important;
    }

    .contactbanner1wrapperblock h2 {
        padding: 20px 5px 30px 5px !important;
        line-height: normal !important;
        font-size: 50px !important;
    }




    .areaofexpertise1bannerblock1img img {
        display: block;
        width: 232% !important;
        margin-left: -300px;
    }
    .areaofexpertise1bannerblock h2 {
        top: 35px !important;
        font-size: 46px !important;
    }

    .staffbanner1wrapperblockimg img {
        display: block;
        width: 232% !important;
        margin-left: -300px;
    }

    .staffbanner1wrapperblock h2 {
        top: 35px !important;
        font-size: 46px !important;
    }
    .testimonialbanner1wrapperimg img {
        display: block;
        width: 232% !important;
        margin-left: -300px;
    }
    .testimonialbanner1wrapperblock h2{
        top: 35px !important;
        font-size: 46px !important;
    }

    .mediaarticles1wrapperblockimg img {
        display: block;
        width: 243% !important;
        margin-left: -450px;
    }

    .mediaarticles1wrapperblock h2{
        top: 35px !important;
        font-size: 46px !important;
    }

    .probonobanner1wrapperblock h2{
        top: 35px !important;
        font-size: 46px !important;
    }
    .probonobanner1wrapperblockimg img {
        display: block;
        width: 243% !important;
        margin-left: -450px;
    }

    .imagegallerybanner1wrapperblock h2{
        top: 35px !important;
        font-size: 46px !important;
    }

    .imagegallerybanner1wrapperblockimg img{
        display: block;
        width: 243% !important;
        margin-left: -450px;
    }
    .contactbanner1wrapperblockimg img{
        display: block;
        width: 243% !important;
        margin-left: -450px;
    }
}


@media (max-width: 640px){
    .areaofexpertise1bannerblock1img img {
        display: block;
        width: 243% !important;
        margin-left: -326px;
    }
    .staffbanner1wrapperblockimg img {
        display: block;
        width: 243% !important;
        margin-left: -326px;
    }
    .testimonialbanner1wrapperimg img {
        display: block;
        width: 243% !important;
        margin-left: -460px;
    }
    .mediaarticles1wrapperblockimg img {
        display: block;
        width: 243% !important;
        margin-left: -425px;
    }

    .probonobanner1wrapperblockimg img {
        display: block;
        width: 243% !important;
        margin-left: -425px;
    }
    .imagegallerybanner1wrapperblockimg img{
        display: block;
        width: 243% !important;
        margin-left: -425px;
    }
    .contactbanner1wrapperblockimg img{
        display: block;
        width: 243% !important;
        margin-left: -425px;
    }
}



@media(max-width:620px){

    .footerblock2 .footermenu{ width: 100%;}



    .footerblock2 .footermenu ul li{ display: block; width: 100%; text-align: center;margin: 0 0 0px 0;  }


    .footerblock2 .footermenu ul li a{ display: block; width: 100%; text-align: center; margin: 0; padding-bottom: 10px; border-bottom: solid 1px #ccc; margin-top: 10px;}

    .footerblock2 .footermenu ul li:last-of-type{ border: none; padding-bottom: 0px;}



    .mediamedia-video_block .media-video_row{ width: 100%; float: left; margin-bottom:22px; position: relative;}



    .mediamedia-video_block .media-video_row:nth-child(2n){ margin-left: 0;}

    .areaofexpertise1bannerblock1img img {
        display: block;
        width: 270% !important;
        margin-left: -365px;
    }
    .staffbanner1wrapperblockimg img {
        display: block;
        width: 270% !important;
        margin-left: -365px;
    }
    .testimonialbanner1wrapperimg img {
        display: block;
        width: 270% !important;
        margin-left: -515px;
    }

    .mediaarticles1wrapperblockimg img {
        display: block;
        width: 270% !important;
        margin-left: -500px;
    }
    .probonobanner1wrapperblockimg img {
        display: block;
        width: 270% !important;
        margin-left: -500px;
    }
    .imagegallerybanner1wrapperblockimg img{
        display: block;
        width: 270% !important;
        margin-left: -500px;
    }
    .contactbanner1wrapperblockimg img{
        display: block;
        width: 270% !important;
        margin-left: -500px;
    }
}

@media(max-width:591px){
    .areaofexpertise1bannerblock h2 {
        top: 35px !important;
    }
    .staffbanner1wrapperblock h2 {
        top: 35px !important;
    }

    .testimonialbanner1wrapperblock h2 {
        top: 35px !important;
    }

    .mediaarticles1wrapperblock h2 {
        top: 35px !important;
    }


    .probonobanner1wrapperblock h2{
        top: 35px !important;
    }
    .imagegallerybanner1wrapperblock h2{
        top: 35px !important;
    }
    .contactbanner1wrapperblock h2{top: 35px !important;}
}

@media(max-width:580px){

    .homebannerblock1 h2{ padding-top: 20px;}
    .areaofexpertise1bannerblock1img img {
        display: block;
        width: 300% !important;
        margin-left: -396px;
    }
    .staffbanner1wrapperblockimg img {
        display: block;
        width: 300% !important;
        margin-left: -396px;
    }
    .testimonialbanner1wrapperimg img {
        display: block;
        width: 300% !important;
        margin-left: -545px;
    }

    .mediaarticles1wrapperblockimg img {
        display: block;
        width: 300% !important;
        margin-left: -550px;
    }

    .probonobanner1wrapperblockimg img {
        display: block;
        width: 300% !important;
        margin-left: -550px;
    }

    .imagegallerybanner1wrapperblockimg img{
        display: block;
        width: 300% !important;
        margin-left: -550px;
    }
    .contactbanner1wrapperblockimg img{
        display: block;
        width: 300% !important;
        margin-left: -550px;
    }
}

@media(max-width:540px){
    .areaofexpertise1bannerblock h2 {
        top: 0px !important;
    }
    .staffbanner1wrapperblock h2 {
        top: 0px !important;
    }
    .testimonialbanner1wrapperblock h2 {
        top: 35px !important;
    }
    .mediaarticles1wrapperblock h2 {
        top: 35px !important;
    }
    .probonobanner1wrapperblock h2{
        top: 35px !important;
    }

    .imagegallerybanner1wrapperblock h2{
        top: 35px !important;
    }

    .contactbanner1wrapperblock h2{top: 35px !important;}

}

@media(max-width:530px){

    .homebannerlink2{ display: none;}

    .homebannerblock h2{ font-size: 42px;}


    .homebannerblock1 h2{ font-size: 42px;}

    .areaofexpertise1bannerblock1img img {
        display: block;
        width: 310% !important;
        margin-left: -395px;
    }
    .staffbanner1wrapperblockimg img {
        display: block;
        width: 310% !important;
        margin-left: -395px;
    }
    .testimonialbanner1wrapperimg img {
        display: block;
        width: 310% !important;
        margin-left: -525px;
    }
    .mediaarticles1wrapperblockimg img {
        display: block;
        width: 310% !important;
        margin-left: -500px;
    }

    .probonobanner1wrapperblock h2{
        top: 0px !important;
    }

    .probonobanner1wrapperblockimg img {
        display: block;
        width: 310% !important;
        margin-left: -500px;
    }
    .imagegallerybanner1wrapperblock h2{
        top: 35px !important;
    }

    .imagegallerybanner1wrapperblockimg img{
        display: block;
        width: 310% !important;
        margin-left: -500px;
    }
    .contactbanner1wrapperblock h2{top: 35px !important;}
    .contactbanner1wrapperblockimg img{
        display: block;
        width: 310% !important;
        margin-left: -500px;
    }
}





@media(max-width:520px){

    .footerblock1 .container .footer1link{ width:400px;}

    .imagegallerybanner1wrapperblock h2 {
        top: 35px !important;
    }
    .contactbanner1wrapperblock h2{top: 35px !important;}
    .contactbanner1wrapperblockimg img{
        display: block;
        width: 325% !important;
        margin-left: -508px;
    }

}
@media(max-width:480px){

    .homeaboutblock5_wrapper .homeblock5_right .homeblock5_img img {
        width: 155%;
    }

    .imagegallerybanner1wrapperblock h2 {
        top: 0px !important;
    }
    .areaofexpertise1bannerblock1img img {
        display: block;
        width: 325% !important;
        margin-left: -395px;
    }
    .staffbanner1wrapperblockimg img {
        display: block;
        width: 325% !important;
        margin-left: -395px;
    }
    .testimonialbanner1wrapperimg img {
        display: block;
        width: 325% !important;
        margin-left: -545px;
    }
    .mediaarticles1wrapperblockimg img {
        display: block;
        width: 325% !important;
        margin-left: -508px;
    }

    .probonobanner1wrapperblockimg img {
        display: block;
        width: 325% !important;
        margin-left: -508px;
    }
    .imagegallerybanner1wrapperblockimg img{
        display: block;
        width: 325% !important;
        margin-left: -508px;
    }
    .contactbanner1wrapperblock h2{}
    .contactbanner1wrapperblockimg img{
        display: block;
        width: 325% !important;
        margin-left: -508px;
    }
}
@media(max-width:440px){

.footerblock1 .container .footer1link{ width: 280px; height: auto; line-height: 34px;}



    .homebannerblock h2{ font-size: 28px;}

    .homebannerblock1 h2{ font-size: 28px;}

    .homeblock5_righttext h4 {



        font-size: 26px;

        line-height: 36px;



    }

    .hometoplogo{ background: none; width: 100%; height: auto;}

    .hometoplogo img{ display: block; margin: 16px auto!important; width: auto; max-width: 90%;}
    .hometoplogo content{ width: 100%;}

    .menufixed .hometoplogo img {
        display: block;
        margin: 10px auto!important;
        width: auto; max-width: 90%;
    }

    .menufixed .mainlogowrapper{  padding-bottom: 14px;}
    .menufixed .menuwrapper {
        position: fixed;
        top: 98px;
    }
    .areaofexpertise1bannerblock h2 {
        font-size: 44px !important;
    }
    .staffbanner1wrapperblock h2 {
        font-size: 44px !important;
    }

    .testimonialbanner1wrapperblock h2{
        font-size: 34px !important;
}

    .mediaarticles1wrapperblock h2 {
        font-size: 34px !important;
    }
    .probonobanner1wrapperblock h2{
        font-size: 44px !important;
    }
    .probonobanner1wrapperblockimg img {
        display: block;
        width: 374% !important;
        margin-left: -586px;
    }
    .imagegallerybanner1wrapperblock h2{
        font-size: 44px !important;
    }

    .imagegallerybanner1wrapperblockimg img{
        display: block;
        width: 374% !important;
        margin-left: -586px;
    }
    .contactbanner1wrapperblock h2{}
    .contactbanner1wrapperblockimg img{
        display: block;
        width: 374% !important;
        margin-left: -586px;
    }

}

@media(max-width:460px){

    .homeaboutblock6 .our_partners_div .partnersimg{ width: 80%; height: auto;}
    .areaofexpertise1bannerblock1img img {
        display: block;
        width: 374% !important;
        margin-left: -458px;
    }
    .staffbanner1wrapperblockimg img {
        display: block;
        width: 374% !important;
        margin-left: -458px;
    }
    .testimonialbanner1wrapperimg img {
        display: block;
        width: 374% !important;
        margin-left: -605px;
    }
    .mediaarticles1wrapperblockimg img {
        display: block;
        width: 374% !important;
        margin-left: -586px;
    }
    .probonobanner1wrapperblockimg img {
        display: block;
        width: 374% !important;
        margin-left: -586px;
    }
    .imagegallerybanner1wrapperblockimg img{
        display: block;
        width: 374% !important;
        margin-left: -586px;
    }
    .contactbanner1wrapperblock h2{}
    .contactbanner1wrapperblockimg img{
        display: block;
        width: 374% !important;
        margin-left: -586px;
    }
}

@media(max-width:420px){


  .homebannerblock h2{ font-size:30px;}

    .homebannerblock1 h2{ font-size: 30px;}

    .homeaboutblock6 .our_partners_div h2{ font-size: 32px;}

    .areaofexpertise1bannerblock1img img {
        display: block;
        width: 450% !important;
        margin-left: -497px;
    }
    .staffbanner1wrapperblockimg img {
        display: block;
        width: 450% !important;
        margin-left: -497px;
    }
    .testimonialbanner1wrapperimg img {
        display: block;
        width: 450% !important;
        margin-left: -645px;
    }
    .mediaarticles1wrapperblockimg img {
        display: block;
        width: 450% !important;
        margin-left: -660px;
    }
    .probonobanner1wrapperblockimg img {
        display: block;
        width: 450% !important;
        margin-left: -660px;
    }
    .imagegallerybanner1wrapperblockimg img{
        display: block;
        width: 450% !important;
        margin-left: -660px;
    }
    .contactbanner1wrapperblock h2{}
    .contactbanner1wrapperblockimg img{
        display: block;
        width: 450% !important;
        margin-left: -660px;
    }
}
@media(max-width:380px){

.mapaginagiton{ width: 290px;}

    .mapaginagiton .mapaginationdiv1{ float: none; margin: 0 auto; margin-bottom: 15px;}

}


@media(max-width:360px){
    .areaofexpertise1bannerblock1img img {
        display: block;
        width: 500% !important;
        margin-left: -497px;
    }
    .staffbanner1wrapperblockimg img {
        display: block;
        width: 500% !important;
        margin-left: -497px;
    }
    .testimonialbanner1wrapperimg img {
        display: block;
        width: 500% !important;
        margin-left: -652px;
    }
    .mediaarticles1wrapperblockimg img {
        display: block;
        width: 500% !important;
        margin-left: -634px;
    }
    .imagegallerybanner1wrapperblock h2{
    }

    .imagegallerybanner1wrapperblockimg img{
        display: block;
        width: 500% !important;
        margin-left: -634px;
    }
    .contactbanner1wrapperblock h2{}
    .contactbanner1wrapperblockimg img{
        display: block;
        width: 500% !important;
        margin-left: -634px;
    }
}

    @media(max-width:360px){
        .mediaarticles1wrapperblockimg img {
            display: block;
            width: 500% !important;
            margin-left: -610px;
        }
        .probonobanner1wrapperblockimg img {
            display: block;
            width: 500% !important;
            margin-left: -610px;
        }
        .imagegallerybanner1wrapperblock h2{
        }

        .imagegallerybanner1wrapperblockimg img{
            display: block;
            width: 500% !important;
            margin-left: -610px;
        }
        .contactbanner1wrapperblock h2{margin-top: 0px !important;}
        .contactbanner1wrapperblockimg img{
            display: block;
            width: 500% !important;
            margin-left: -610px;
        }
    }
@media(max-width:300px){
    .areaofexpertise1bannerblock1img img {
        display: block;
        width: 535% !important;
        margin-left: -500px;
    }
    .staffbanner1wrapperblockimg img {
        display: block;
        width: 535% !important;
        margin-left: -500px;
    }
    .testimonialbanner1wrapperimg img {
        display: block;
        width: 535% !important;
        margin-left: -597px;
    }
    .mediaarticles1wrapperblockimg img {
        display: block;
        width: 535% !important;
        margin-left: -500px;
    }

    .probonobanner1wrapperblockimg img {
        display: block;
        width: 535% !important;
        margin-left: -500px;
    }

   .imagegallerybanner1wrapperblockimg img{
        display: block;
        width: 535% !important;
        margin-left: -500px;
    }
    .contactbanner1wrapperblock h2{}
    .contactbanner1wrapperblockimg img{
        display: block;
        width: 535% !important;
        margin-left: -500px;
    }
}