<div class="container-fluid footerblock1">

    <div class="container">

<h2><content name='footertext1576a7b513e5f9c7e13236385' id='576a7b513e5f9c7e13236385' > </content></h2>
    <h3><content name='footertext2576a7b6f3e5f9c7e13236386' id='576a7b6f3e5f9c7e13236386' > </content> </h3>


    <a href="javascript:void(0)" class="footer1link"><content name='footerlink1576a7b903e5f9c7e13236387' id='576a7b903e5f9c7e13236387' > </content></a>
    </div>
</div>

<div class="container-fluid footerblock2">

    <div class="container">
        <h2><content name='footertext3576a7bb13e5f9c7e13236388' id='576a7bb13e5f9c7e13236388' > </content></h2>
        <h3><content name='footerphonno576a7bcb3e5f9c7e13236389' id='576a7bcb3e5f9c7e13236389' > </content></h3>
        <h4><content name='footertext4576a7be53e5f9c7e1323638a' id='576a7be53e5f9c7e1323638a' > </content></h4>

        <div class="footermenu">

            <ul>
                <li> <a href="javascript:void(0)">Home</a></li>
                <li> <a href="javascript:void(0)">Area of Expertise</a></li>
                <li> <a href="javascript:void(0)">Staff</a></li>
                <li> <a href="javascript:void(0)">Media</a></li>
                <li> <a href="javascript:void(0)">Pro Bono Work</a></li>
                <li> <a href="javascript:void(0)">Contact us</a></li>

            </ul>
        </div>

        <h5><content name='footertext5576a7c093e5f9c7e1323638b' id='576a7c093e5f9c7e1323638b' > </content></h5>


        <div class="social_icon_block">
            <a href="javascript:void(0)"><img src="../images/sicon1.png"></a>
            <a href="javascript:void(0)"><img src="../images/sicon2.png"></a>
            <a href="javascript:void(0)"><img src="../images/sicon3.png"></a>

        </div>



        </div>
   </div>

<a href="javascript:void(0)" class="contaclinkright">contact us</a>