<div id="fb-root"></div>
<script>
    FB = null;
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="allpagescrolldown" ng-show="scrollarrowshow && pagename != 'home'" style="top: auto; bottom: 0;" ng-click="scrolldownrec();">
    <img src="../images/scrolldownarrow.png" alt="#">
    <label>Scroll Down</label>
</div>



<div class="container-fluid topwrapper">

<div class="mainlogowrapper">
<div class="hometoplogo"><a ui-sref="home"> <content name='mainlogo576a3524738780185901c75a' id='576a3524738780185901c75a' imgwidth="352" imgheight="80" > </content></a></div>
</div>

   <div class="container-fluid menuwrapper">

       <div class="menublock">
           <nav class="navbar navbar-default">
               <!-- Brand and toggle get grouped for better mobile display -->
               <div class="navbar-header">
                   <span class="responsivemenu">MENU</span>

                   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                   <div class="clearfix"></div>
               </div>
               <!-- Collect the nav links, forms, and other content for toggling -->
               <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                   <ul class="nav navbar-nav">
                       <li><a ui-sref="home" href="javascript:void(0)"> <content name='homelink57beb9ae6d2917be592c2f2a' id='57beb9ae6d2917be592c2f2a' > </content> </a></li>
                       <li><a ui-sref="areasofexpertise" href="javascript:void(0)"> <content name='areasofexpertise_link57bebb5b6d2917be592c2f2b' id='57bebb5b6d2917be592c2f2b' > </content></a></li>
                       <li><a ui-sref="staff" href="javascript:void(0)"><content name='Stafflink57bebb926d2917be592c2f2c' id='57bebb926d2917be592c2f2c' > </content></a></li>
                       <li><a ui-sref="testimonial" href="javascript:void(0)"><content name='testimonialslink57bebbc36d2917be592c2f2d' id='57bebbc36d2917be592c2f2d' > </content></a></li>
                       <li><a ui-sref="media-articles" ><content name='medialink57bebd176d2917be592c2f2e' id='57bebd176d2917be592c2f2e' > </content> </a></li>
                       <li><a ui-sref="probono" ><content name='ProBonoWorklink57bebe976d2917be592c2f2f' id='57bebe976d2917be592c2f2f' > </content></a></li>
                       <li><a  ui-sref="sfactivities"><content name='SFActivitieslink57bec11d6d2917be592c2f30' id='57bec11d6d2917be592c2f30' > </content></a></li>

                       <li><a ui-sref="contact" href="javascript:void(0)"><content name='contactlink57bec16f6d2917be592c2f31' id='57bec16f6d2917be592c2f31' > </content></a></li>

                   </ul>


                   <div class="clearfix"></div>
                   <div class="fbheader">
                       <div class="iconfb"><a href="https://www.facebook.com/AllanMSchuman" target="_blank"><img src="../images/iconfb.png"> </a> </div>
                       <div style="margin-top: 0px" class="fb-like" data-href="https://www.facebook.com/AllanMSchuman" data-width="312" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                   </div>

               </div>
               <!-- /.navbar-collapse -->

           </nav>

       </div>


       <div class="clearfix"></div>
   </div>

</div>