<div class="container-fluid topwrapper">

<div class="mainlogowrapper">
<div class="hometoplogo"><a ui-sref="home"> <content name='mainlogo576a3524738780185901c75a' id='576a3524738780185901c75a' > </content></a></div>
</div>

   <div class="container-fluid menuwrapper">

       <div class="menublock">
           <nav class="navbar navbar-default">
               <!-- Brand and toggle get grouped for better mobile display -->
               <div class="navbar-header">
                   <span class="responsivemenu">MENU</span>

                   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                   <div class="clearfix"></div>
               </div>
               <!-- Collect the nav links, forms, and other content for toggling -->
               <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                   <ul class="nav navbar-nav">
                       <li><a ui-sref="home" href="javascript:void(0)"> Home </a></li>
                       <li><a ui-sref="areasofexpertise" href="javascript:void(0)"> Areas of Expertise</a></li>
                       <li><a ui-sref="staff" href="javascript:void(0)">Staff </a></li>
                       <li><a ui-sref="media-articles" href="javascript:void(0)">Media </a></li>
                       <li><a ui-sref="probono" href="javascript:void(0)">Pro-Bono Work </a></li>
                       <li><a ui-sref="contact" href="javascript:void(0)">Contact us </a></li>




                   </ul>
                   <div class="clearfix"></div>
               </div>
               <!-- /.navbar-collapse -->

           </nav>

       </div>


       <div class="clearfix"></div>
   </div>

</div>