<div class="container-fluid homebannerwrapper">
    <div class="homebannerblock">
   <h2><content name='homebannertext1576a81443e5f9c7e1323638c' id='576a81443e5f9c7e1323638c' > </content></h2>

        <a href="javascript:void(0)" class="homebannerlink1"><content name='homebannerlink1576a81883e5f9c7e1323638d' id='576a81883e5f9c7e1323638d' > </content></a>
        <a ng-click="functionscroll()" href="javascript:void(0)" class="homebannerlink2"> <content name='homebannerlink2576a81bc3e5f9c7e1323638e' id='576a81bc3e5f9c7e1323638e' > </content></a>


    </div>

</div>



        <div class="container-fluid homeaboutblock">

            <div class="container">

            <div class="homeabouticon"><content name='homeabouticon576a8de33e5f9c7e1323638f' id='576a8de33e5f9c7e1323638f' > </content></div>
            <h2><content name='homeabouth1576a8e323e5f9c7e13236390' id='576a8e323e5f9c7e13236390' > </content></h2>
            <h3><content name='homeabouth2576a8e603e5f9c7e13236391' id='576a8e603e5f9c7e13236391' > </content></h3>
            <h4><content name='homeabouth3576a8e923e5f9c7e13236392' id='576a8e923e5f9c7e13236392' > </content></h4>

            </div>
        </div>


<div class="container-fluid homeaboutblock3">



        <table width="100%">
            <tr>
                <td valign="middle" align="left" class=" homeblock3_left" >
                    <div class="homeblock3_left_text">

                    <content name='homeblock3text576b8099ae456a094e17825a' id='576b8099ae456a094e17825a' > </content>

                    </div>

                </td>
                <td valign="middle" align="right"  class=" homeblock3_right"><content name='homeblock3img576b8010ae456a094e178259' id='576b8010ae456a094e178259' > </content></td>
            </tr>
        </table>


        <div class="clearfix"></div>



    </div>


<div class="container-fluid homeaboutblock4">

    <div class="container">

    <h2><content name='homeblock4text1576b8d42cc40b095105c190d' id='576b8d42cc40b095105c190d' > </content></h2>
    <h3><content name='homeblock4text2576b8d69cc40b095105c190e' id='576b8d69cc40b095105c190e' > </content></h3>
    <h4><content name='homeblock4text3576b8da6cc40b095105c190f' id='576b8da6cc40b095105c190f' > </content></h4>

    <ul>
        <li><span><content name='homeblock4li1576b8e0fcc40b095105c1910' id='576b8e0fcc40b095105c1910' > </content></span></li>
        <li><span><content name='homeblock4li2576b8e39cc40b095105c1911' id='576b8e39cc40b095105c1911' > </content></span></li>
        <li><span><content name='homeblock4li3576b8e5dcc40b095105c1912' id='576b8e5dcc40b095105c1912' > </content></span></li>
        <li><span><content name='homeblock4li4576b8e8bcc40b095105c1913' id='576b8e8bcc40b095105c1913' > </content></span></li>
        <li><span><content name='homeblock4li5576b8eb0cc40b095105c1914' id='576b8eb0cc40b095105c1914' > </content></span></li>
        <li><span><content name='homeblock4li6576b8ef9cc40b095105c1915' id='576b8ef9cc40b095105c1915' > </content></span></li>

        <div class="clearfix"></div>
    </ul>

        <div class="clearfix"></div>


    <a href="javascript:void(0)" class="homeaboutblock4_link"><content name='homeaboutblock4_link576b8f63cc40b095105c1916' id='576b8f63cc40b095105c1916' > </content></a>

    </div>

    </div>


<div class="container-fluid homeaboutblock5">
    <div class="container-fluid homeaboutblock5_wrapper">

    <div class="homeblock5_left">

        <div class="homeblock5_lefttextcon">
        <h2><content name='homeblock5_left576ba864f6c8b4f6354f18e9' id='576ba864f6c8b4f6354f18e9' > </content></h2>
        <h3><content name='homeblock5_left2576ba8b9f6c8b4f6354f18ea' id='576ba8b9f6c8b4f6354f18ea' > </content></h3>

        <h2><content name='homeblock5_left3576ba8f0f6c8b4f6354f18eb' id='576ba8f0f6c8b4f6354f18eb' > </content></h2>
        <h3><content name='homeblock5_left4576ba92ddabdb323382b7148' id='576ba92ddabdb323382b7148' > </content></h3>
        </div>
    </div>

    <div class="homeblock5_right">

        <div class="homeblock5_righttext">



            <h4><content name='homeblock5_righttext1576bae28bacd72193e2858c2' id='576bae28bacd72193e2858c2' > </content></h4>

<h5><content name='homeblock5_righttext2576bae46bacd72193e2858c3' id='576bae46bacd72193e2858c3' > </content></h5>
            <a href="javascript:void(0)" class="homeaboutblock5_link">Learn More</a>





        </div>

    </div>



    <div class="clearfix"></div>

    </div>

</div>


<div class="container-fluid homeaboutblock6">
    <div class="container">
    <h2>Our Partners</h2>
    <div class="our_partners_div">
        <h2>Allan M. Shuman</h2>
        <img src="../images/home6img1.jpg" class="partnersimg" >
        <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            <br/> <br/>
            It has survived not only five centuries,
            but also the leap into electronic typesetting, remaining
            essentially unchanged.</h3>

        <div class="fullbio_box">   <a href="javascript:void(0)">Full Bio</a></div>

    </div>
    <div class="our_partners_div">
    <h2>Jacq Wilson</h2>
        <img src="../images/home6img2.jpg" class="partnersimg" >
        <h3>Jacq  Wilson  has  devoted  his  entire  career  to  helping  accident victims when they have been injured, harmed or inconvenienced by the  negligence  of  others.<br/><br/>

            He  has  the  privilege  of  litigating tough cases and, accordingly, has earned a reputation for taking on complex cases that other attorneys have refused.  Litigating on behalf of injury victims and their families is the very essence of his practice.</h3>

        <div class="fullbio_box">   <a href="javascript:void(0)">Full Bio</a></div>

    </div>




    <div class="clearfix"></div>


    <div class="homebottomblock">
        <a href="javascript:void(0)" class="viewmorelink">VIEW MORE</a>
        <div class="clearfix"></div>

    </div>

    </div>
    </div>




